<%- include('../layout/userMeta.ejs') %>
<style>
    .google-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    .google-logo {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
</style>
</head>
    <body>
        <div class="main-wrapper">
            <%- include('../layout/userHead.ejs') %>
                <!-- OffCanvas Menu End -->
                <!-- breadcrumb-area start -->
                <div class="breadcrumb-area">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <% if(typeof reff != 'undefined') {%>
                                    
                                    <h2 class="breadcrumb-title">Register</h2>
                                    <input type="hidden" value="<%= reff %>" id="reffId">

                                    <% }else{%>
                                        <h2 class="breadcrumb-title">Login</h2>
                                    <% }  %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb-area end -->
                <!-- login area start -->
                <div class="login-register-area pt-100px pb-100px ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                                <div class="login-register-wrapper">
                                    <% if(typeof reff != 'undefined') {%>
                                    
                                    <div class="login-register-tab-list nav">
                                        <!-- <a class="active" data-bs-toggle="tab" href="#lg1">
                                            <h4>Login</h4>
                                        </a> -->
                                        <a >
                                            <h4>Register</h4>
                                        </a>
                                    </div>
                                    <% }else{%>
                                        <div class="login-register-tab-list nav">
                                            <a class="active" data-bs-toggle="tab" href="#lg1">
                                                <h4>Login</h4>
                                            </a>
                                            <a data-bs-toggle="tab" href="#lg2">
                                                <h4>Register</h4>
                                            </a>
                                        </div>
                                    <% }  %>


                                    
                                    <div class="tab-content">

                                        <% if(typeof reff != 'undefined') {%>
                                    
                                            <div >
                                                <div class="login-form-container">
                                                    <div class="login-register-form">
                                                        <form action="/register" method="post" id="userRegister">
                                                            <div id="errorMessagesName" class="text-danger"></div>
                                                            <input type="text" id="userName" name="userName"
                                                                placeholder="Name" required/>
                                                            <div id="errorMessagesMail" class="text-danger"></div>
                                                            <input name="userEmail" id="userEmail" placeholder="Email"
                                                                type="email" required />
                                                            <div id="errorMessagesPhone" class="text-danger"></div>
                                                            <input type="tel" name="userPhone" id="userPhone"
                                                                placeholder="Phone" required/>
                                                            <div id="errorMessagesPassword" class="text-danger"></div>
                                                            <input type="password" name="userPassword" id="userPassword"
                                                                placeholder="Password" required/>
                                                            <!-- <div class="google-signin-container">
                                                                <div id="g_id_onload" data-client_id="YOUR_GOOGLE_CLIENT_ID"
                                                                    data-context="signup" data-ux_mode="popup"
                                                                    data-auto_prompt="false">
                                                                </div>
                                                                <div class="g_id_signin" data-type="standard"></div>
                                                            </div> -->
                                                            <div class="button-box">
                                                                <div class="login-toggle-btn">
    
                                                                    <!-- <a href="#">Forgot Password?</a> -->
                                                                </div>
                                                                <button type="submit"
                                                                    onclick="userValidateForm()"><span>Register</span></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
        
                                            <% }else{%>
                                                <div id="lg1" class="tab-pane active">
                                                    <div class="login-form-container">
                                                        <div class="login-register-form">
                                                            <form action="/" method="post" id="userLogin">
                                                                <div class="text-danger" id="sessionError">
                                                                    <%= typeof error !== 'undefined' ? error : '' %>
                                                                </div>                                                        
                                                                <div id="errorMessagesLoginEmail" class="text-danger"></div>
                                                                <input type="email" name="usernamelogin" class="form-control"
                                                                    placeholder="Email" id="userMailLogin" required/>
                                                                <div id="errorMessagesLoginPassword" class="text-danger"></div>
                                                                <input type="password" name="userpasswordlogin"
                                                                    placeholder="Password" id="userPasswordLogin" required/>
                                                                <div class="button-box">
                                                                    <div class="login-toggle-btn">
        
                                                                        <a href="#">Forgot Password?</a>
                                                                    </div>
                                                                    <button type="submit" class="mb-4"
                                                                        onclick="userValidateFormLogin()"><span>Login</span></button>
                                                                </div>
                                                            </form>
                                                            <!-- <div class="google-signin-container">
                                                                <div id="g_id_onload" href="/auth/google" data-client_id="YOUR_GOOGLE_CLIENT_ID"
                                                                    data-context="signup" data-ux_mode="popup"
                                                                    data-auto_prompt="false">
                                                                </div>
                                                                <div class="g_id_signin" data-type="standard"></div>
                                                            </div> -->
                                                            <a href="/auth/google"><button class="google-button">
                                                                <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo" class="google-logo">
                                                                Sign in with Google
                                                            </button></a>
        
                                                        </div>
                                                    </div>
                                                </div>
        
                                                <div id="lg2" class="tab-pane">
                                                    <div class="login-form-container">
                                                        <div class="login-register-form">
                                                            <form action="/register" method="post" id="userRegister">
                                                                <div id="errorMessagesName" class="text-danger"></div>
                                                                <input type="text" id="userName" name="userName"
                                                                    placeholder="Name" required  value="username"/>
                                                                <div id="errorMessagesMail" class="text-danger"></div>
                                                                <input name="userEmail" id="userEmail" placeholder="Email"
                                                                    type="email" required />
                                                                <div id="errorMessagesPhone" class="text-danger"></div>
                                                                <input type="tel" name="userPhone" id="userPhone"
                                                                    placeholder="Phone" required value="1234567890"/>
                                                                <div id="errorMessagesPassword" class="text-danger"></div>
                                                                <input type="password" name="userPassword" id="userPassword"
                                                                    placeholder="Password" required value="kuttippa"/>
                                                                <!-- <div class="google-signin-container">
                                                                    <div id="g_id_onload" data-client_id="YOUR_GOOGLE_CLIENT_ID"
                                                                        data-context="signup" data-ux_mode="popup"
                                                                        data-auto_prompt="false">
                                                                    </div>
                                                                    <div class="g_id_signin" data-type="standard"></div>
                                                                </div> -->
                                                                <div class="button-box">
                                                                    <div class="login-toggle-btn">
        
                                                                        <!-- <a href="#">Forgot Password?</a> -->
                                                                    </div>
                                                                    <button type="submit"
                                                                        onclick="userValidateForm()"><span>Register</span></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }  %>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- login area end -->
                <!-- Footer Area Start -->
                <%- include('../layout/userFooter.ejs') %>
                    <!-- Footer Area End -->
        </div>
        <!-- Global Vendor, plugins JS -->
        <!-- JS Files
    ============================================ -->
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
        <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="assets/js/plugins/swiper-bundle.min.js"></script>
        <script src="assets/js/plugins/scrollUp.js"></script>
        <script src="assets/js/plugins/venobox.min.js"></script>
        <script src="assets/js/plugins/jquery-ui.min.js"></script>
        <script src="assets/js/plugins/mailchimp-ajax.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>



        <script>
            function userValidateForm() {
                // Get form field values
                const username = document.getElementById('userName').value.trim();
                const email = document.getElementById('userEmail').value.trim();
                const phone = document.getElementById('userPhone').value.trim();
                const password = document.getElementById('userPassword').value.trim();

                // Clear previous error messages
                document.getElementById('errorMessagesName').innerHTML = '';
                document.getElementById('errorMessagesMail').innerHTML = '';
                document.getElementById('errorMessagesPhone').innerHTML = '';
                document.getElementById('errorMessagesPassword').innerHTML = '';

                // Validate username
                if (!validateName(username)) {
                    return false;
                }

                // Validate email
                if (email === '') {
                    displayErrorMail('*Please enter your email');
                    return false;
                } else if (!isValidEmail(email)) {
                    displayErrorMail('*Please enter a valid email address');
                    return false;
                }

                // Validate phone
                if (phone === '') {
                    displayErrorPhone('*Please enter your phone number');
                    return false;
                } else if (!isValidPhoneNumber(phone)) {
                    displayErrorPhone('*Please enter a valid phone number');
                    return false;
                }

                // Validate password
                if (password === '') {
                    displayErrorPassword('*Please enter your password');
                    return false;
                } else if (password.length < 6) {
                    displayErrorPassword('*Password must be at least 6 characters long');
                    return false;
                }

                // All fields are valid
                return true;
            }

            function validateName(username) {
                const nameRegex = /^[a-zA-Z\s'-]{2,50}$/;

                if (username === '') {
                    displayErrorName('*Please enter your name');
                    return false;
                } else if (!nameRegex.test(username)) {
                    displayErrorName('*Please enter a valid name');
                    // (letters, spaces, hyphens, and apostrophes only)
                    return false;
                } else {
                    // clearErrorName(); // Function to clear the error message
                    return true;
                }
            }

            // Function to check if email is valid
            function isValidEmail(email) {
                // Regular expression for validating email format
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(email);
            }

            // Function to check if phone number is valid
            function isValidPhoneNumber(phone) {
                // Regular expression for validating phone number format
                const phoneRegex = /^\d{10}$/;
                return phoneRegex.test(phone);
            }

            function displayErrorName(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesName');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            function displayErrorMail(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesMail');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            function displayErrorPhone(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesPhone');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            function displayErrorPassword(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesPassword');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }



            document.getElementById('userName').addEventListener('input', userValidateForm);
            document.getElementById('userEmail').addEventListener('input', userValidateForm);
            document.getElementById('userPhone').addEventListener('input', userValidateForm);
            document.getElementById('userPassword').addEventListener('input', userValidateForm);

            document.getElementById('userRegister').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission

                if (userValidateForm()) {

                    console.log("validation success...")//! TO REMOVE

                    const reffDiv = document.getElementById('reffId')

                    let refId

                    if(reffDiv){
                        refId = reffDiv.value
                    }else{
                        refId = ''
                    }

                    const formData = {
                        userName: document.getElementById('userName').value.trim(),
                        userEmail: document.getElementById('userEmail').value.trim(),
                        userPhone: document.getElementById('userPhone').value.trim(),
                        userPassword: document.getElementById('userPassword').value.trim(),
                        refId: refId
                    };

                    // console.log(formData) //! TO REMOVE

                    // Send form data to backend using Axios
                    axios.post('/register', formData)
                        .then(response => {
                            // Handle successful response from backend
                            console.log('Response:', response.data.status);
                            if (response.data.status == 'Email is already registered') {
                                console.log("Email is already registered")
                                displayErrorMail(response.data.status)
                                ///////////////////////////
                            } else if (response.data.status == 'success') {
                                Swal.fire({
                                    icon: "info",
                                    title: "verify Email",
                                    text: "Verification email sent! Kindly check your inbox.",
                                    // showDenyButton: true,
                                    // showCancelButton: true,
                                    confirmButtonColor: '#0056b3',
                                    confirmButtonText: "verify email",
                                    // denyButtonText: `Don't save`
                                }).then((result) => {
                                    /* Read more about isConfirmed, isDenied below */
                                    if (result.isConfirmed) {
                                        // Swal.fire("Saved!", "", "success");
                                        window.location.href = '/verifyotp'
                                    }
                                });
                                // window.location.href = '/verifyUserMail';
                            }
                        })
                        .catch(error => {
                            // Handle error
                            console.error('Error:', error);
                        });
                    // this.submit(); // Submit the form if validation passes
                }

            });

        </script>

        <script>
            function userValidateFormLogin() {
                const loginEmail = document.getElementById('userMailLogin').value.trim();
                const loginPassword = document.getElementById('userPasswordLogin').value.trim();

                document.getElementById('errorMessagesLoginEmail').innerHTML = ''
                document.getElementById('errorMessagesLoginPassword').innerHTML = ''
                document.getElementById('sessionError').innerHTML = ''


                if (loginEmail === '') {
                    displayErrorLoginEmail('*Please enter your email');
                    return false;
                } else if (!isValidEmailLogin(loginEmail)) {
                    displayErrorLoginEmail('*Please enter a valid email address');
                    return false;
                }

                if (loginPassword === '') {
                    displayErrorLoginPassword('*Please enter your password');
                    return false;
                } else if (loginPassword.length < 6) {
                    displayErrorLoginPassword('*Password must be at least 6 characters long');
                    return false;
                }

                return true;

            }

            function isValidEmailLogin(email) {
                // Regular expression for validating email format
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(email);
            }

            function displayErrorLoginPassword(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesLoginPassword');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            function displayErrorLoginEmail(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesLoginEmail');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            document.getElementById('userMailLogin').addEventListener('input', userValidateFormLogin)
            document.getElementById('userPasswordLogin').addEventListener('input', userValidateFormLogin)

            document.getElementById('userLogin').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission

                if (userValidateFormLogin()) {

                    console.log("login validation success...")//! TO REMOVE

                    const loginFormData = {
                        loginEmail: document.getElementById('userMailLogin').value.trim(),
                        loginPassword: document.getElementById('userPasswordLogin').value.trim()
                    };

                    // console.log(formData) //! TO REMOVE

                    // Send form data to backend using Axios
                    axios.post('/login', loginFormData)
                        .then(res => {
                            console.log("res:", res.data)
                            if (res.data.next == 1) {
                                const Toast = Swal.mixin({
                                    toast: true,
                                    position: "top-end",
                                    showConfirmButton: false,
                                    timer: 3000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.onmouseenter = Swal.stopTimer;
                                        toast.onmouseleave = Swal.resumeTimer;
                                    }
                                });
                                Toast.fire({
                                    icon: "success",
                                    title: "logged in successfully"
                                });
                                setTimeout(() => {
                                    window.location.href = '/home'
                                }, 800)
                            } else if (res.data.next == 0) {
                                displayErrorLoginEmail("*User not found, Please register to continue");
                            } else if (res.data.next == 100) {
                                displayErrorLoginEmail("*Incorrect password");
                            } else if (res.data.next == 200) {
                                displayErrorLoginEmail("*your account has been temporarily blocked")
                            }
                        })
                        .catch(error => {
                            // Handle error
                            console.error('Error:', error);
                        });
                    // this.submit(); // Submit the form if validation passes
                }

            });

        </script>

        <!-- Minify Version -->
        <!-- <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/main.min.js"></script> -->

        <!--Main JS (Common Activation Codes)-->
        <script src="assets/js/main.js"></script>
    </body>


    <!-- Mirrored from htmldemo.net/hmart/hmart/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 May 2024 13:12:24 GMT -->

    </html>