<%- include('../layout/userMeta.ejs') %>

    </head>

    <body>
        <div class="main-wrapper">
            <%- include('../layout/userHead.ejs') %>
                <!-- offcanvas overlay start -->
                <div class="offcanvas-overlay"></div>
                <!-- offcanvas overlay end -->
                <!-- OffCanvas Wishlist Start -->
                <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
                    <div class="inner">
                        <div class="head">
                            <span class="title">Wishlist</span>
                            <button class="offcanvas-close">×</button>
                        </div>
                        <div class="body customScroll">
                            <ul class="minicart-product-list">
                                <li>
                                    <a href="single-product.html" class="image"><img
                                            src="assets/images/product-image/1.webp" alt="Cart product Image"></a>
                                    <div class="content">
                                        <a href="single-product.html" class="title">Modern Smart Phone</a>
                                        <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                                        <a href="#" class="remove">×</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="single-product.html" class="image"><img
                                            src="assets/images/product-image/2.webp" alt="Cart product Image"></a>
                                    <div class="content">
                                        <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                        <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                                        <a href="#" class="remove">×</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="single-product.html" class="image"><img
                                            src="assets/images/product-image/3.webp" alt="Cart product Image"></a>
                                    <div class="content">
                                        <a href="single-product.html" class="title">Smart Music Box</a>
                                        <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                                        <a href="#" class="remove">×</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="foot">
                            <div class="buttons">
                                <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OffCanvas Wishlist End -->
                <!-- OffCanvas Cart Start -->
                <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
                    <div class="inner">
                        <div class="head">
                            <span class="title">Cart</span>
                            <button class="offcanvas-close">×</button>
                        </div>
                        <div class="body customScroll">
                            <ul class="minicart-product-list">
                                <li>
                                    <a href="single-product.html" class="image"><img
                                            src="assets/images/product-image/1.webp" alt="Cart product Image"></a>
                                    <div class="content">
                                        <a href="single-product.html" class="title">Modern Smart Phone</a>
                                        <span class="quantity-price">1 x <span class="amount">$18.86</span></span>
                                        <a href="#" class="remove">×</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="single-product.html" class="image"><img
                                            src="assets/images/product-image/2.webp" alt="Cart product Image"></a>
                                    <div class="content">
                                        <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                        <span class="quantity-price">1 x <span class="amount">$43.28</span></span>
                                        <a href="#" class="remove">×</a>
                                    </div>
                                </li>
                                <li>
                                    <a href="single-product.html" class="image"><img
                                            src="assets/images/product-image/3.webp" alt="Cart product Image"></a>
                                    <div class="content">
                                        <a href="single-product.html" class="title">Smart Music Box</a>
                                        <span class="quantity-price">1 x <span class="amount">$37.34</span></span>
                                        <a href="#" class="remove">×</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="foot">
                            <div class="buttons mt-30px">
                                <a href="cart.html" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                                <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- OffCanvas Cart End -->
                <!-- OffCanvas Menu Start -->
                <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
                    <button class="offcanvas-close"></button>
                    <div class="user-panel">
                        <ul>
                            <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                            <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a>
                            </li>
                            <li><a href="my-account.html"><i class="fa fa-user"></i> Account</a></li>
                        </ul>
                    </div>
                </div>
                <!-- OffCanvas Menu End -->
                <!-- breadcrumb-area start -->
                <div class="breadcrumb-area">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-12 text-center">
                                <h2 class="breadcrumb-title">Account</h2>
                                <!-- breadcrumb-list start -->
                                <ul class="breadcrumb-list">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active">Account</li>
                                </ul>
                                <!-- breadcrumb-list end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- breadcrumb-area end -->
                <!-- account area start -->
                <div class="account-dashboard pt-100px pb-100px">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <!-- Nav tabs -->
                                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                                    <ul role="tablist" class="nav flex-column dashboard-list">
                                        <li><a href="#dashboard" data-bs-toggle="tab"
                                                class="nav-link active">Dashboard</a></li>
                                        <!-- <li> <a href="#orders" data-bs-toggle="tab" class="nav-link">Orders</a></li> -->
                                        <!-- <li><a href="#downloads" data-bs-toggle="tab" class="nav-link">Downloads</a> -->
                                        </li>
                                        <li><a href="#address" data-bs-toggle="tab" class="nav-link">Addresses</a></li>
                                        <li><a href="#account-details" data-bs-toggle="tab" class="nav-link">Account
                                                details</a>
                                        </li>
                                        <li><a onclick="logout()" class="nav-link">logout</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-9">
                                <!-- Tab panes -->
                                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                                    <div class="tab-pane fade show active" id="dashboard">
                                        <h4>Dashboard </h4>
                                        <div class="row mt-3">


                                            <div class="col-md-6 mb-3">
                                                <div class="card p-3">
                                                    <p class="mb-2"><strong id="nameStrong">
                                                            <%= userDetails.username %>
                                                        </strong></p>
                                                    <address>
                                                        <strong>
                                                            <%= userDetails.email %>
                                                        </strong><br>
                                                        <strong id="phoneStrong">
                                                            <%= userDetails.phone %>
                                                        </strong>
                                                        <!-- <span><strong>ZIP:</strong> 98101</span><br>
                                                        <span><strong>Country:</strong> USA</span> -->
                                                    </address>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <!-- <div class="tab-pane fade" id="orders">
                                        <h4>Orders</h4>
                                        <div class="table_page table-responsive">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Order</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Total</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>May 10, 2018</td>
                                                        <td><span class="success">Completed</span></td>
                                                        <td>$25.00 for 1 item </td>
                                                        <td><a href="cart.html" class="view">view</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>May 10, 2018</td>
                                                        <td>Processing</td>
                                                        <td>$17.00 for 1 item </td>
                                                        <td><a href="cart.html" class="view">view</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> -->
                                    <!-- <div class="tab-pane fade" id="downloads">
                                        <h4>Downloads</h4>
                                        <div class="table_page table-responsive">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Downloads</th>
                                                        <th>Expires</th>
                                                        <th>Download</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Shopnovilla - Free Real Estate PSD Template</td>
                                                        <td>May 10, 2018</td>
                                                        <td><span class="danger">Expired</span></td>
                                                        <td><a href="#" class="view">Click Here To Download Your
                                                                File</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Organic - ecommerce html template</td>
                                                        <td>Sep 11, 2018</td>
                                                        <td>Never</td>
                                                        <td><a href="#" class="view">Click Here To Download Your
                                                                File</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div> -->


                                    <div class="tab-pane" id="address">
                                        <!-- <p>The following addresses will be used on the checkout page by default.</p> -->
                                        <h5 class="billing-address">Address Details</h5>
                                        <a href="/myAccount#address" onclick="addAddress(event)" class="view">Add</a>
                                        <div class="row mt-3">

                                            <% if (typeof addresses != 'undefined' && addresses.length > 0) { %>
                                                <% addresses.forEach((add, index) => { %>
                                                  <div class="col-md-6 col-lg-4 mb-3">
                                                    <div class="card p-3 position-relative">
                                                      <!-- Cross Remove Button -->
                                                      <button class="btn-close position-absolute top-0 end-0 m-2 remove-address" 
                                                              aria-label="Close" onclick="removeAddress(event, '<%= index %>')"></button>
                                                      
                                                      <p class="mb-2"><strong>
                                                        <%= userDetails.username %>
                                                      </strong></p>
                                                      <address>
                                                        <span><strong>Street:</strong>
                                                          <%= add.street %>
                                                        </span><br>
                                                        <span><strong>City:</strong>
                                                          <%= add.city %>
                                                        </span><br>
                                                        <span><strong>State:</strong>
                                                          <%= add.state %>
                                                        </span><br>
                                                        <span><strong>ZIP:</strong>
                                                          <%= add.zip %>
                                                        </span><br>
                                                        <span><strong>Country:</strong>
                                                          <%= add.country %>
                                                        </span>
                                                      </address>
                                                    </div>
                                                  </div>
                                                <% }) %>
                                              <% } %>
                                              


                                        </div>
                                    </div>



                                    <div class="tab-pane fade" id="account-details">
                                        <h3>Account details </h3>
                                        <div class="login">
                                            <div class="login_form_container">
                                                <div class="account_login_form">
                                                    <form>
                                                        <div class="default-form-box mb-20">
                                                            <div id="errorName" class="text-danger"></div>
                                                            <label>First Name</label>
                                                            <input type="text" id="user-name"
                                                                value="<%= userDetails.username %>">
                                                        </div>
                                                        <div class="default-form-box mb-20">
                                                            <div id="errorPhone" class="text-danger"></div>
                                                            <label>Phone no</label>
                                                            <input type="text" id="user-phone"
                                                                value="<%= userDetails.phone %>">
                                                        </div>
                                                        <div class="save_button mt-3">
                                                            <button class="btn"
                                                                onclick="editUserDetails(event)">Change</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <hr><br>

                                        <h3>Change Password </h3>
                                        <div class="login">
                                            <div class="login_form_container">
                                                <div class="account_login_form">
                                                    <form>
                                                        <div class="default-form-box mb-20">
                                                            <div id="errorpass" class="text-danger"></div>
                                                            <label>Current Password</label>
                                                            <div id="errorMessagesOldPassword" class="text-danger">
                                                            </div>
                                                            <input type="password" id="user-oldPass">
                                                        </div>
                                                        <div class="default-form-box mb-20">
                                                            <div id="errorpass" class="text-danger"></div>
                                                            <label>New Password</label>
                                                            <div id="errorMessagesNewPassword" class="text-danger">
                                                            </div>
                                                            <input type="password" id="user-newPass">
                                                        </div>
                                                        <div class="save_button mt-3">
                                                            <button class="btn"
                                                                onclick="ChangePassword(event)">Change</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- account area start -->
                <!-- Footer Area Start -->
                <div class="footer-area">
                    <div class="footer-container">
                        <div class="footer-top">
                            <div class="container">
                                <div class="row">
                                    <!-- Start single blog -->
                                    <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                                        <div class="single-wedge">
                                            <div class="footer-logo">
                                                <a href="index.html"><img src="assets/images/logo/footer-logo.png"
                                                        alt=""></a>
                                            </div>
                                            <p class="about-text">Lorem ipsum dolor sit amet consl adipisi elit, sed do
                                                eiusmod templ incididunt ut labore
                                            </p>
                                            <ul class="link-follow">
                                                <li>
                                                    <a class="m-0" title="Twitter" target="_blank"
                                                        rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                                            aria-hidden="true"></i></a>
                                                </li>
                                                <li>
                                                    <a title="Tumblr" target="_blank" rel="noopener noreferrer"
                                                        href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="Facebook" target="_blank" rel="noopener noreferrer"
                                                        href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a title="Instagram" target="_blank" rel="noopener noreferrer"
                                                        href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End single blog -->
                                    <!-- Start single blog -->
                                    <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                        <div class="single-wedge">
                                            <h4 class="footer-herading">Services</h4>
                                            <div class="footer-links">
                                                <div class="footer-row">
                                                    <ul class="align-items-center">
                                                        <li class="li"><a class="single-link" href="my-account.html">My
                                                                Account</a></li>
                                                        <li class="li"><a class="single-link"
                                                                href="contact.html">Contact</a></li>
                                                        <li class="li"><a class="single-link" href="cart.html">Shopping
                                                                cart</a></li>
                                                        <li class="li"><a class="single-link"
                                                                href="shop-left-sidebar.html">Shop</a></li>
                                                        <li class="li"><a class="single-link" href="login.html">Services
                                                                Login</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single blog -->
                                    <!-- Start single blog -->
                                    <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                        <div class="single-wedge">
                                            <h4 class="footer-herading">My Account</h4>
                                            <div class="footer-links">
                                                <div class="footer-row">
                                                    <ul class="align-items-center">
                                                        <li class="li"><a class="single-link" href="my-account.html">My
                                                                Account</a></li>
                                                        <li class="li"><a class="single-link"
                                                                href="contact.html">Contact</a></li>
                                                        <li class="li"><a class="single-link" href="cart.html">Shopping
                                                                cart</a></li>
                                                        <li class="li"><a class="single-link"
                                                                href="shop-left-sidebar.html">Shop</a></li>
                                                        <li class="li"><a class="single-link" href="login.html">Services
                                                                Login</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single blog -->
                                    <!-- Start single blog -->
                                    <div class="col-md-6 col-lg-3 col-sm-12">
                                        <div class="single-wedge">
                                            <h4 class="footer-herading">Contact Info</h4>
                                            <div class="footer-links">
                                                <!-- News letter area -->
                                                <p class="address">Address: Your Address Goes Here.</p>
                                                <p class="phone">Phone/Fax:<a href="tel:0123456789"> 0123456789</a></p>
                                                <p class="mail">Email:<a href="mailto:demo@example.com">
                                                        demo@example.com</a></p>
                                                <p class="mail"><a href="https://demo@example.com/">
                                                        demo@example.com</a></p>
                                                <!-- News letter area  End -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single blog -->
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="container">
                                <div class="line-shape-top line-height-1">
                                    <div class="row flex-md-row-reverse align-items-center">
                                        <div class="col-md-6 text-center text-md-end">
                                            <div class="payment-mth"><a href="#"><img class="img img-fluid"
                                                        src="assets/images/icons/payment.png" alt="payment-image"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center text-md-start">
                                            <p class="copy-text"> © 2022 <strong>Hmart</strong> Made With <i
                                                    class="fa fa-heart" aria-hidden="true"></i> By <a
                                                    class="company-name"
                                                    href="https://themeforest.net/user/codecarnival/portfolio">
                                                    <strong> Codecarnival </strong></a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Area End -->
        </div>
        <!-- Global Vendor, plugins JS -->
        <!-- JS Files
    ============================================ -->
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
        <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="assets/js/plugins/swiper-bundle.min.js"></script>
        <script src="assets/js/plugins/scrollUp.js"></script>
        <script src="assets/js/plugins/venobox.min.js"></script>
        <script src="assets/js/plugins/jquery-ui.min.js"></script>
        <script src="assets/js/plugins/mailchimp-ajax.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Minify Version -->
        <!-- <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/main.min.js"></script> -->

        <!--Main JS (Common Activation Codes)-->
        <script src="assets/js/main.js"></script>
        <script>
            function validation() {
                const name = document.getElementById('user-name').value.trim()
                // const email = document.getElementById('user-email').value.trim()
                const phone = document.getElementById('user-phone').value.trim()

                document.getElementById('errorName').innerHTML = '';
                // document.getElementById('errorMail').innerHTML = '';
                document.getElementById('errorPhone').innerHTML = '';

                // Validate name
                if (!validateName(name)) {
                    return false;
                }

                // Validate email
                // if (email === '') {
                //     displayErrorMail('*Please enter your email');
                //     return false;
                // } else if (!isValidEmail(email)) {
                //     displayErrorMail('*Please enter a valid email address');
                //     return false;
                // }

                // Validate phone
                if (phone === '') {
                    displayErrorPhone('*Please enter your phone number');
                    return false;
                } else if (!isValidPhoneNumber(phone)) {
                    displayErrorPhone('*Please enter a valid phone number');
                    return false;
                }

                return true;
            }

            function validateName(username) {
                const nameRegex = /^[a-zA-Z\s'-]{2,50}$/;

                if (username === '') {
                    displayErrorName('*Please enter your name');
                    return false;
                } else if (!nameRegex.test(username)) {
                    displayErrorName('*Please enter a valid name');
                    // (letters, spaces, hyphens, and apostrophes only)
                    return false;
                } else {
                    // clearErrorName(); // Function to clear the error message
                    return true;
                }
            }

            // Function to check if email is valid
            // function isValidEmail(email) {
            //     // Regular expression for validating email format
            //     const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            //     return emailRegex.test(email);
            // }

            // Function to check if phone number is valid
            function isValidPhoneNumber(phone) {
                // Regular expression for validating phone number format
                const phoneRegex = /^\d{10}$/;
                return phoneRegex.test(phone);
            }

            function displayErrorName(errorMessage) {
                const errorDiv = document.getElementById('errorName');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            // function displayErrorMail(errorMessage) {
            //     const errorDiv = document.getElementById('errorMail');
            //     const errorParagraph = document.createElement('p');
            //     errorParagraph.textContent = errorMessage;
            //     errorDiv.appendChild(errorParagraph);
            // }

            function displayErrorPhone(errorMessage) {
                const errorDiv = document.getElementById('errorPhone');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }


            document.getElementById('user-name').addEventListener('input', validation);
            // document.getElementById('user-email').addEventListener('input', validation);
            document.getElementById('user-phone').addEventListener('input', validation);



            function editUserDetails(event) {
                event.preventDefault()

                Swal.fire({
                    icon: "question",
                    title: "Are you sure?",
                    text: "",
                    // showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonColor: '#0056b3',
                    confirmButtonText: "Save the changes",
                    // denyButtonText: `Don't save`
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        // Swal.fire("Saved!", "", "success");
                        if (!validation()) {
                            return console.log("Error in validation")
                        }

                        const name = document.getElementById('user-name').value.trim()
                        const phone = document.getElementById('user-phone').value.trim()


                        const userData = {
                            name: name,
                            phone: phone
                        }

                        axios.post('/editUser', userData)
                            .then(res => {
                                if (res.data.status === 2) {
                                    Swal.fire("Saved!", "", "success");
                                    const nameStrong = document.getElementById('nameStrong')
                                    const phoneStrong = document.getElementById('phoneStrong')

                                    nameStrong.innerHTML = name
                                    phoneStrong.innerHTML = phone
                                }
                            })
                            .catch(err => {
                                console.log(err)
                            })
                    }
                });



            }

            function logout() {

                Swal.fire({
                    icon: "question",
                    title: "Are you sure?",
                    text: "",
                    // showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonColor: '#0056b3',
                    confirmButtonText: "Logout",
                    // denyButtonText: `Don't save`
                }).then(result => {
                    if (result.isConfirmed) {
                        window.location.href = '/logout'
                    }
                })
            }


        </script>

        <script>
            function displayErrorOldPassword(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesOldPassword');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            function displayErrorNewPassword(errorMessage) {
                const errorDiv = document.getElementById('errorMessagesNewPassword');
                const errorParagraph = document.createElement('p');
                errorParagraph.textContent = errorMessage;
                errorDiv.appendChild(errorParagraph);
            }

            function passwordValidation() {
                const oldPassword = document.getElementById('user-oldPass').value
                const newPassword = document.getElementById('user-newPass').value

                document.getElementById('errorMessagesOldPassword').innerHTML = '';
                document.getElementById('errorMessagesNewPassword').innerHTML = '';

                if (oldPassword === '') {
                    displayErrorOldPassword('*Please enter your password');
                    return false;
                } else if (oldPassword.length < 6) {
                    displayErrorOldPassword('*Password must be at least 6 characters long');
                    return false;
                }

                if (newPassword === '') {
                    displayErrorNewPassword('*Please enter your password');
                    return false;
                } else if (newPassword.length < 6) {
                    displayErrorNewPassword('*Password must be at least 6 characters long');
                    return false;
                }

                return true
            }

            document.getElementById('user-oldPass').addEventListener('input', passwordValidation)
            document.getElementById('user-newPass').addEventListener('input', passwordValidation)

            function ChangePassword(event) {
                event.preventDefault()

                if (!passwordValidation()) {
                    return console.log("Password validation failed")
                }

                Swal.fire({
                    icon: "question",
                    title: "Are you sure?",
                    text: "",
                    // showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonColor: '#0056b3',
                    confirmButtonText: "Change",
                    // denyButtonText: `Don't save`
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        // Swal.fire("Saved!", "", "success");
                        const oldPassword = document.getElementById('user-oldPass').value
                        const newPassword = document.getElementById('user-newPass').value

                        axios.post('/changepassword', { oldPass: oldPassword, newPass: newPassword })
                            .then(res => {
                                if (res.data.status == 7) {
                                    Swal.fire("Saved!", "", "success");
                                } else if (res.data.status == 1) {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "Password you entered is incorrect. try again.",
                                        showCancelButton: true,
                                        showConfirmButton: false,
                                        cancelButtonText: "OK",
                                    }).then((result) => {
                                        // if (result.dismiss === Swal.DismissReason.cancel) {
                                        //     otpInputs.forEach(input => input.value = '');
                                        //     otpInputs[0].focus();
                                        // }
                                    });
                                }
                            })
                            .catch(err => {
                                console.log(err)
                            })

                    }
                });



            }
        </script>


        <script>
            function addAddress(event) {
                event.preventDefault()

                // Get the parent container
                const addressContainer = document.getElementById('address');

                // Create a form structure for the new address
                const formHtml = `
                <h3>Address details</h3><hr>
                    <div class="login" id="address">
                        <div class="login_form_container">
                            <div class="account_login_form">
                                <form>
                                    <div class="default-form-box mb-20">
                                        <label>Street</label>
                                        <div ="errorMessageStreet" class="text-danger"></div>
                                        <input type="text" id="street">
                                    </div>
                                    <div class="default-form-box mb-20">
                                        <label>City</label>
                                        <div ="errorMessageCity" class="text-danger"></div>
                                        <input type="text" id="city">
                                    </div>
                                    <div class="default-form-box mb-20">
                                        <label>State</label>
                                        <div ="errorMessageState" class="text-danger"></div>
                                        <input type="text" id="state">
                                    </div>
                                    <div class="default-form-box mb-20">
                                        <label>Zip</label>
                                        <div ="errorMessageZip" class="text-danger"></div>
                                        <input type="text" id="zip">
                                    </div>
                                    <div class="default-form-box mb-20">
                                        <label>Country</label>
                                        <div ="errorMessageCountry" class="text-danger"></div>
                                        <input type="text" id="country">
                                    </div>
                                    <div class="save_button mt-3 d-flex">
                                        <button class="btn me-2"
                                            onclick="saveAddress(event)">Add</button>
                                            <button class="btn"
                                            onclick="cancelAddress(event)">Cancel</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
        `;

                // Replace the current content with the form
                addressContainer.innerHTML = formHtml;

            }

            // function displayErrorStreet(errorMessage) {
            //     const errorDiv = document.getElementById('errorMessageStreet');
            //     const errorParagraph = document.createElement('p');
            //     errorParagraph.textContent = errorMessage;
            //     errorDiv.appendChild(errorParagraph);
            // }

            // function displayErrorCity(errorMessage) {
            //     const errorDiv = document.getElementById('errorMessageCity');
            //     const errorParagraph = document.createElement('p');
            //     errorParagraph.textContent = errorMessage;
            //     errorDiv.appendChild(errorParagraph);
            // }

            // function displayErrorState(errorMessage) {
            //     const errorDiv = document.getElementById('errorMessageState');
            //     const errorParagraph = document.createElement('p');
            //     errorParagraph.textContent = errorMessage;
            //     errorDiv.appendChild(errorParagraph);
            // }

            // function displayErrorCountry(errorMessage) {
            //     const errorDiv = document.getElementById('errorMessageCountry');
            //     const errorParagraph = document.createElement('p');
            //     errorParagraph.textContent = errorMessage;
            //     errorDiv.appendChild(errorParagraph);
            // }

            // function displayErrorZip(errorMessage) {
            //     const errorDiv = document.getElementById('errorMessageZip');
            //     const errorParagraph = document.createElement('p');
            //     errorParagraph.textContent = errorMessage;
            //     errorDiv.appendChild(errorParagraph);
            // }

            // function isValidZip(zip) {
            //     // Regular expression for validating phone number format
            //     const phoneRegex = /^[+-]?(\d+(\.\d*)?|\.\d+)$/;
            //     return phoneRegex.test(zip);
            // }

            // function isAlphabetic(value){
            //     const regex = /^[A-Za-z]+$/;
            //     return regex.test(value)
            // }

            // function addressValidation(){
            //     const street = document.getElementById('street').value;
            //     const city = document.getElementById('city').value;
            //     const state = document.getElementById('state').value;
            //     const zip = document.getElementById('zip').value;
            //     const country = document.getElementById('country').value;

                


            //     if (street === '') {
            //         displayErrorStreet('*Please enter your street');
            //         return false;
            //     }else if (!isAlphabetic(street)) {
            //         displayErrorStreet('*Please enter a valid street');
            //         return false;
            //     }

            //     if (city === '') {
            //         displayErrorCity('*Please enter your city');
            //         return false;
            //     }else if (!isAlphabetic(city)) {
            //         displayErrorCity('*Please enter a valid city');
            //         return false;
            //     }

            //     if (state === '') {
            //         displayErrorState('*Please enter your state');
            //         return false;
            //     }else if (!isAlphabetic(state)) {
            //         displayErrorState('*Please enter a valid state');
            //         return false;
            //     }

            //     if (country === '') {
            //         displayErrorCountry('*Please enter your country');
            //         return false;
            //     }else if (!isAlphabetic(country)) {
            //         displayErrorCountry('*Please enter a valid country');
            //         return false;
            //     }

            //     if (zip === '') {
            //         displayErrorZip('*Please enter your zip');
            //         return false;
            //     } else if (!isValidZip(zip)) {
            //         displayErrorZip('*Please enter a valid zip');
            //         return false;
            //     }

            //     return true
            // }

            

            function saveAddress() {
                event.preventDefault()

                // if(!addressValidation()){
                //     return console.log("error in address validation")
                // }

                // Retrieve input values
                // const name = document.getElementById('name').value;
                const street = document.getElementById('street').value;
                const city = document.getElementById('city').value;
                const state = document.getElementById('state').value;
                const zip = document.getElementById('zip').value;
                const country = document.getElementById('country').value;

                // Display a message or handle the new address
                // alert(`Address Saved: ${street}, ${city}, ${state}, ${zip}, ${country}`);

                const addressData = {
                    street: street,
                    city: city,
                    state: state,
                    zip: zip,
                    country: country
                }

                axios.post('/addressadd', addressData)
                    .then(res => {
                        if (res.data.status === 7) {
                            Swal.fire({
                                icon: "success",
                                title: "address added",
                                text: "",
                                // showDenyButton: true,
                                // showCancelButton: true,
                                confirmButtonColor: '#0056b3',
                                confirmButtonText: "Ok",
                                // denyButtonText: `Don't save`
                            }).then((result) => {
                                if (result.isConfirmed){
                                    window.location.reload()
                                }
                            })
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }

            function cancelAddress(event) {
                window.location.reload()
            }


        </script>

        <script>
            function removeAddress(event, index){
                event.preventDefault()

                Swal.fire({
                    icon: "question",
                    title: "Are you sure?",
                    text: "",
                    // showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonColor: '#0056b3',
                    confirmButtonText: "ok",
                    // denyButtonText: `Don't save`
                }).then((result) => {
                    if(result.isConfirmed){
                        axios.post('/addressremove', {indexOfAddress: index})
                    .then(res => {
                        if(res.data.status == 7){
                            Swal.fire({
                                icon: "success",
                                title: "address removed",
                                text: "",
                                // showDenyButton: true,
                                // showCancelButton: true,
                                confirmButtonColor: '#0056b3',
                                confirmButtonText: "Ok",
                                // denyButtonText: `Don't save`
                            }).then((result) => {
                                if (result.isConfirmed){
                                    window.location.reload()
                                }
                            })
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    }
                })


                

            }
        </script>

    </body>


    <!-- Mirrored from htmldemo.net/hmart/hmart/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 May 2024 11:06:46 GMT -->

    </html>